@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    /* outline: 2px solid red; */
}

body {
    height: 100vh;
}

h1{
    color: hsl(217, 19%, 35%);
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-size: 30px
}

.text {
    margin:20px 0 0 0; 
}

.desc {
    color: hsl(214, 17%, 51%);
    margin-top: 15px;
}

.profile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    margin-top: 15px;
    height: 50px;
}

.p{
    display: flex;
    align-items: center;
    column-gap: 12px;
    z-index: 1;
}

.info span {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.share-button{
    position: absolute;
    right: 5px;
    top: 0;
    background-color: hsl(214, 17%, 51%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    z-index: 2;
}

.share-button i {
    font-size: 15px;
    color: #ffffff;
    
}

.profile-img {
    border-radius: 100%;
    width: 50px;
}

/* .profile.expanded .share {
    display: flex;
} */
.share p {
    text-transform: uppercase;
    font-size: 20px;
    color: hsl(212, 23%, 69%);
}

@media (max-width: 400px) {
    .drawer {
        width: 100%;
        border-radius: 2px;
    }

    .share {
        width: 0px;
        display: none;
        justify-content: space-between;
    }

    .social-icons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-size: 30px;
    }
    
    .profile.expanded {
        background-color: hsl(217, 19%, 35%);
    }

    .profile.expanded .share{
        width: 80%;
        display: flex;
        background-color: hsl(217, 19%, 35%);
        transition: flex 0.5s ease-in;
        z-index: 2;
    }

    .profile.expanded .p {
        display: none;
    }

}

@media (min-width: 650px) {
    .card {
        width: 80%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        margin:0 auto;
        border: none;
        border-radius: 5px;
        transform: translate(-10%, 40%);
        box-shadow: 10px;
    }

    .drawer {
        width: 50%;
    }

    .text{
        padding: 10px;
    }

    .share {
        display: none;
    }

    .profile.expanded .share-button {
        position: relative;
    }

    .profile.expanded .share{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(30%, -120%);
        background-color: hsl(217, 19%, 35%);
        width: 220px;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        font-size: 25px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 15px #888888;
    }

    .profile.expanded .share::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
        
    }
}